@charset "UTF-8";

#header{z-index:3;position:fixed;top:0;left:0;width:100%;height:75px;background:transparent;border-bottom:1px solid rgba(255,255,255, 0.3);box-shadow:0px 3px 10px rgba(0,0,0, 0.3);overflow:hidden;transition:all 0.6s;}
#header.addFixed{height:60px;background:#000;border-bottom:0;transition:all 0.6s;}
	.header-wrap{width:100%;max-width:1140px;height:75px;margin:0 auto;}
		.header-nav-wrap{width:100%;}
		/* Logo & Nav Main Menu */
		.header-nav-wrap>li:nth-child(1){float:left;width:100%;max-width:70%;height:75px;}
			.header-left-wrap{width:auto;}
			.header-left-wrap>li{float:left;}
			.header-left-wrap>li>p{}
			.header-left-wrap>li:nth-child(1)>p{width:169px;}
			.header-left-wrap>li:nth-child(1)>p>a>img{width:auto;height:30px;padding:21px 0 24px 0;transition:all 0.3s;}
			@media all and (max-width:500px){
				.header-left-wrap>li:nth-child(1)>p>a>img{height:25px;padding:25px 0;transition:all 0.6s;}				
			}

			.header-left-wrap>li:nth-child(1)>p>a>img.addFixed{padding:15px 0;transition:all 0.6s;}
			.header-left-wrap>li:nth-child(2)>p{width:1px;height:20px;background:#bbb;margin:27.5px 0 27.5px 20px;transition:all 0.6s;}
			.header-left-wrap>li:nth-child(2)>p.addFixed{margin:20px 0 20px 20px;transition:all 0.6s;}
			
			.header-left-wrap>li:nth-child(3),
			.header-left-wrap>li:nth-child(4),
			.header-left-wrap>li:nth-child(5),
			.header-left-wrap>li:nth-child(6),
			.header-left-wrap>li:nth-child(7),
			.header-left-wrap>li:nth-child(8){margin-left:40px;padding:31.5px 0;transition:all 0.6s;}
			@media all and (max-width:1140px){
				.header-left-wrap{padding-left:16px;}
				.header-left-wrap>li:nth-child(2),
				.header-left-wrap>li:nth-child(3),
				.header-left-wrap>li:nth-child(4),
				.header-left-wrap>li:nth-child(5),
				.header-left-wrap>li:nth-child(6),
				.header-left-wrap>li:nth-child(7),
				.header-left-wrap>li:nth-child(8){display:none;}
			}
			
			.header-left-wrap>li:nth-child(3).addFixed,
			.header-left-wrap>li:nth-child(4).addFixed,
			.header-left-wrap>li:nth-child(5).addFixed,
			.header-left-wrap>li:nth-child(6).addFixed,
			.header-left-wrap>li:nth-child(7).addFixed,
			.header-left-wrap>li:nth-child(8).addFixed{padding:24px 0;transition:all 0.6s;}

			.header-left-wrap>li:nth-child(3)>p>a,
			.header-left-wrap>li:nth-child(4)>p>a,
			.header-left-wrap>li:nth-child(5)>p>a,
			.header-left-wrap>li:nth-child(6)>p>a,
			.header-left-wrap>li:nth-child(7)>p>a,
			.header-left-wrap>li:nth-child(8)>p>a{color:#fff;font-size:12px;font-weight:600;transition:all 0.3s;}
			
			.header-left-wrap>li>p>a:hover{color:#aaa;transition:all 0.3s;}

			.header-left-wrap>li:nth-child(1){}
			
			
		/* BOOK YOUR TABLES 우측박스 */
		.header-nav-wrap>li:nth-child(2){float:right;width:30%;height:75px;}	
			.header-nav-wrap>li:nth-child(2)>p{float:right;font-family:arial;padding-right:16px;}
			/* 우측 모바일 메뉴 박스 */	
			.header-nav-wrap>li:nth-child(2)>div{position:relative;display:none;float:right;margin:23px 16px 23px 0;width:24px;height:14px;}
				.mobile-3line-box{z-index:1;cursor:pointer;position:relative;width:100%;height:100%;overflow:hidden;}
				.mobile-3line-box>li{position:absolute;left:0;width:100%;height:2px;background:#fff;}
				.mobile-3line-box>li:nth-child(1){top:0;transform:rotate(0deg);transition:all 0.6s;}
				.mobile-3line-box>li:nth-child(1).addMobile3line{top:50%;margin-top:-1px;transform:rotate(45deg);transition:all 0.6s;}
				.mobile-3line-box>li:nth-child(2){top:50%;margin-top:-1px;transition:all 0.6s;}
				.mobile-3line-box>li:nth-child(2).addMobile3line{left:100%;transition:all 0.6s;}
				.mobile-3line-box>li:nth-child(3){bottom:0;transform:rotate(0deg);transition:all 0.6s;}
				.mobile-3line-box>li:nth-child(3).addMobile3line{bottom:50%;margin-bottom:-1px;transform:rotate(-45deg);transition:all 0.6s;}
			
				a.mobile-3lineBt{z-index:2;display:block;position:absolute;top:0;left:0;width:100%;height:100%;}
			
			@media all and (max-width:1140px){
				.header-nav-wrap>li:nth-child(2)>p{display:none;}
				.header-nav-wrap>li:nth-child(2)>div{display:block;}
			}
			.header-nav-wrap>li:nth-child(2)>p>i{transition:all 0.6s;display:inline-block;color:#fff;font-size:11px;font-weight:500;padding:32px 0;}
			.header-nav-wrap>li:nth-child(2)>p>i.addFixed{padding:24px 0;transition:all 0.6s;}
			.header-nav-wrap>li:nth-child(2)>p>a{transition:all 0.6s;display:inline-block;width:100px;text-align:center;padding:5px 0 7px 0;color:#fff;border:2px solid #fff;background:#000;font-size:11px;margin-top:23.5px;margin-left:10px;font-weight:600;}
			.header-nav-wrap>li:nth-child(2)>p>a.addFixed{margin-top:16px;transition:all 0.6s;}
			.header-nav-wrap>li:nth-child(2)>p>a:hover{background:#fff;color:#000;transition:all 0.6s;}
		
	
/* 모바일 메인메뉴박스 */
.mobileMenu-wrap{display:none;z-index:3;position:fixed;top:60px;left:0;width:100%;height:auto;}
.mobileMenu-wrap.addClassMobileSub{display:block;}

.mobileMenu-button-wrap{width:100%;}
.mobileMenu-button-wrap>li{width:100%;border-top:1px solid #333;}
.mobileMenu-button-wrap>li>p{width:100%;}
.mobileMenu-button-wrap>li>p>a{display:block;padding:15px 0;width:100%;text-align:center;color:#f1f1f1;background:#000;font-size:15px;font-family:arial;font-weight:500;}
		
#main{z-index:2;position:relative;width:100%;height:auto;overflow:hidden;}
	#section1{position:relative;width:100%;height:auto;background:url(../img/slider-img4.jpg) no-repeat center center fixed;background-size:cover;}
	@media all and (max-width:500px){
		#section1{height:750px;background:none;}
	}
		/* Section1 배경의 검은색 캡 */
		.section1-bg-black-cap{z-index:0;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(50,50,50, .7);}
		
		/* Section1 제목 */
		.section1-title{z-index:1;position:absolute;top:35%;left:0;width:100%;height:auto;text-align:center;}			
		.section1-title>img{width:28.22916666666667%;}			
		@media all and (max-width:1140px){
			.section1-title>img{width:35%;}			
		}
		@media all and (max-width:800px){
			.section1-title>img{width:45%;}			
		}
		@media all and (max-width:500px){
			.section1-title>img{width:60%;}			
		}
		
		
		/* Next(Down) Arrow Button */
		.section1-next-bt{z-index:1;position:absolute;bottom:80px;left:50%;margin-left:-16px;width:32px;height:32px;text-align:center;}
		
	#section2{width:100%;height:auto;background:url(../img/restaurant-img1.jpg) no-repeat center center fixed;background-size:cover;}
		.section2-wrap{position:relative;width:100%;max-width:1140px;height:auto;margin:0 auto;}
			.section2-breakfast-wrap{position:absolute;top:50%;margin-top:-275px;right:0;width:100%;max-width:450px;height:auto;background:#fff;outline:8px solid #fdd947;outline-offset:-20px;}
				.section2-breakfast-text-wrap{padding:90px;}
				.section2-breakfast-text-wrap>li{text-align:center;font-family:'arial';}
				.section2-breakfast-text-wrap>li>h3{padding-bottom:20px;}
				.section2-breakfast-text-wrap>li:nth-child(4)>p>img{padding:5.48446069469835% 0;}
				.section2-breakfast-text-wrap>li:nth-child(5)>p{line-height:180%;padding-bottom:30px;word-wrap:break-word;}
				.section2-breakfast-text-wrap>li>p>a{}
				.section2-breakfast-text-wrap>li>p>a>img{}
				.section2-breakfast-text-wrap>li>h2{font-weight:600;font-size:28px;padding-bottom:10px;text-shadow:5px 5px 10px rgba(0,0,0, 0.3);}
				.section2-breakfast-text-wrap>li>h4{font-size:11px;}
	
	#section3{width:100%;height:auto;background:url(../img/restaurant-img2.jpg) no-repeat center center fixed;background-size:cover;}
		.section3-wrap{position:relative;width:100%;max-width:1140px;height:auto;margin:0 auto;}
			.section3-lunch-wrap{position:absolute;top:50%;margin-top:-275px;left:0;width:100%;max-width:450px;height:auto;background:#fff;outline:8px solid #fdd947;outline-offset:-20px;}
				.section3-lunch-text-wrap{padding:90px;}
				.section3-lunch-text-wrap>li{text-align:center;}
				.section3-lunch-text-wrap>li>h3{padding-bottom:20px;}
				.section3-lunch-text-wrap>li>h3>img{width:55px;}
				.section3-lunch-text-wrap>li>h2{padding-bottom:10px;}
				.section3-lunch-text-wrap>li>h4{padding-bottom:30px;}
				.section3-lunch-text-wrap>li>p>img{width:178px;}
				.section3-lunch-text-wrap>li:nth-child(4)>p{padding-bottom:30px;}			
				.section3-lunch-text-wrap>li:nth-child(5)>p{padding-bottom:30px;line-height:180%;}			
				.section3-lunch-text-wrap>li>p>a>img{width:32px;}
				
	#section4{width:100%;height:auto;background:url(../img/restaurant-img3.jpg) no-repeat center center fixed;background-size:cover;}
		.section4-wrap{position:relative;width:100%;max-width:1140px;height:auto;margin:0 auto;}
			.section4-dinner-wrap{position:absolute;top:50%;margin-top:-275px;right:0;width:100%;max-width:450px;height:auto;background:#fff;outline:8px solid #fdd947;outline-offset:-20px;}
				.sectionBg{display:none;}
				@media all and (max-width:1140px){
					#section2,
					#section3,
					#section4{width:100%;height:auto;padding:0;margin:0;background:none;}
					.section2-wrap,
					.section3-wrap,
					.section4-wrap{height:100%;padding:130px 10px;box-sizing:border-box;}
					.section2-breakfast-wrap,
					.section3-lunch-wrap,
					.section4-dinner-wrap{z-index:1;position:relative;top:0;left:0;margin:0 auto;}					
					/* 배경이미지 포그라운드 */
					.sectionBg{z-index:0;display:block;position:absolute;top:0;width:auto;height:100%;}
					.section1Bg{left:-500px;}
					.section2Bg{left:-300px;}
					.section3Bg{right:-300px;}
					.section4Bg{left:-300px;}
				}	
				
				.section4-dinner-text-wrap{padding:90px;}
				@media all and (max-width:520px){
					.section2-breakfast-text-wrap,
					.section3-lunch-text-wrap,
					.section4-dinner-text-wrap{padding:60px;}	
				}
				@media all and (max-width:400px){
					.section2-breakfast-text-wrap,
					.section3-lunch-text-wrap,
					.section4-dinner-text-wrap{padding:40px;}	
				}
				.section4-dinner-text-wrap>li{text-align:center;}
				.section4-dinner-text-wrap>li>h3{padding-bottom:20px;}
				.section4-dinner-text-wrap>li>h3>img{width:55px;}
				.section4-dinner-text-wrap>li>h2{padding-bottom:10px;}
				.section4-dinner-text-wrap>li>h4{padding-bottom:30px;}
				.section4-dinner-text-wrap>li>p>img{width:178px;}
				.section4-dinner-text-wrap>li:nth-child(4)>p{padding-bottom:30px;}			
				.section4-dinner-text-wrap>li:nth-child(5)>p{padding-bottom:30px;line-height:180%;}			
				.section4-dinner-text-wrap>li>p>a>img{width:32px;}

	#section5{width:100%;height:auto;background:url(../img/restaurant-img7.jpg);padding:130px 0;}
		.section5-wrap{width:100%;max-width:1140px;margin:0 auto;height:auto;}
			.section5-content-wrap{}
			.section5-content-wrap>li{}
			.section5-content-wrap>li>h2{font-family:arial;text-align:center;padding-bottom:20px;font-size:28px;font-weight:700;color:#614c45;text-shadow:2px 3px 4px rgba(0,0,0, 0.4);}
			.section5-content-wrap>li>p{text-align:center;padding-bottom:90px;}
		
				.section5-content-left-right-wrap{width:100%;}
				.section5-content-left-right-wrap>li:nth-child(1){float:left;width:744px;height:710px;}
				.section5-content-left-right-wrap>li:nth-child(1)>p{padding:0 30px;}
				.section5-content-left-right-wrap>li:nth-child(1)>p>img{width:100%;max-width:744px;}
				.section5-content-left-right-wrap>li:nth-child(2){float:right;width:360px;height:710px;}
				@media all and (max-width:1170px){
					.section5-content-left-right-wrap{text-align:center;}
					.section5-content-left-right-wrap>li:nth-child(1){float:none;width:100%;height:auto;}
					.section5-content-left-right-wrap>li:nth-child(2){float:none;width:100%;height:auto;}					
				}
					.section5-content-right-wrap{padding-top:130px;font-family:arial;}
					.section5-content-right-wrap>li>h4{font-size:15px;font-weight:600;padding-bottom:20px;color:#626262;}
					.section5-content-right-wrap>li>h3{font-size:35px;font-weight:600;color:#ababab;padding-bottom:20px;}
					.section5-content-right-wrap>li:nth-child(3)>p{width:30px;height:3px;background:#fdd947;}					
					.section5-content-right-wrap>li:nth-child(3){padding-bottom:20px;}
					.section5-content-right-wrap>li:nth-child(4)>p{line-height:180%;font-size:14px;padding-bottom:20px;color:#626262;}
					.section5-content-right-wrap>li:nth-child(5)>p{width:130px;text-align:center;}
					@media all and (max-width:1170px){
						.section5-content-right-wrap{width:80%;margin:0 auto;}
						.section5-content-right-wrap>li:nth-child(3)>p{margin:0 auto;}
						.section5-content-right-wrap>li:nth-child(5)>p{margin:0 auto;}	
					}
					.section5-content-right-wrap>li:nth-child(5)>p>a{display:block;width:100%;padding:10px 0;color:#000;font-weight:600;font-size:12px;border:3px solid #000;transition:all 0.3s;}
					.section5-content-right-wrap>li:nth-child(5)>p>a:hover{background:#000;color:#fff;transition:all 0.3s;}
			
			
	#section6{width:100%;height:auto;background:#fff;padding-top:61px;}
		.section6-wrap{width:100%;height:auto;}
			.section6-wrap-ul{width:100%;}
			.section6-wrap-ul>li{float:left;width:33.33333%;height:740px;}
			@media all and (max-width:1060px){
				.section6-wrap-ul>li{width:100%;}	
			}
				/* 3칸 33.3333%너비 안에 배경 이미지 여백 좌우15px */
				.section6-bg-box1{position:relative;width:auto;height:740px;margin:0 15px;overflow:hidden;background:url(../img/restaurant-img6.jpg);background-size:cover;}
				.section6-bg-box2{position:relative;width:auto;height:740px;margin:0 15px;overflow:hidden;background:url(../img/restaurant-img17.jpg);background-size:cover;}
				.section6-bg-box3{position:relative;width:auto;height:740px;margin:0 15px;overflow:hidden;background:url(../img/restaurant-img18.jpg);background-size:cover;}
							
					/* 가운데 작은 박스 */
					.section6-in-box{z-index:1;position:relative;width:320px;height:420px;top:160px;background:#fff;margin:0 auto;outline-offset:-30px;outline:5px solid #ddd;}
					.section6-in-box>ul{padding-top:70px;font-family:arial;}
					.section6-in-box>ul>li{text-align:center;}
					.section6-in-box>ul>li>p{}
					.section6-in-box>ul>li>h2{font-size:20px;color:#fdd947;padding-bottom:20px;}
					.section6-in-box>ul>li>h3{font-size:12px;color:#626262;padding-bottom:30px;}
	
	
					/* 가운데 큰 박스 */
					.section6-in-cap-box{z-index:2;position:absolute;transition:all 0.6s ease-out;opacity:0;top:-200px;left:9.602649%;width:80.794702%;height:644px;background:url(../img/restaurant-img7.jpg);outline:8px solid #d8b75f;outline-offset:-8px;}
					.section6-in-cap-box.addClassS6-in-cap{top:48px;transition:all 0.6s ease-out;opacity:1;}
					@media all and (max-width:1280px){
						.section6-in-cap-box{left:2%;width:96%;}						
					}
					@media all and (max-width:1060px){
						.section6-in-cap-box{left:9.602649%;width:80.794702%;}						
					}
					@media all and (max-width:500px){
						.section6-in-cap-box{left:3%;width:94%;}						
					}

					.section6-in-cap-box>ul{padding:20px 40px;}
					@media all and (max-width:1820px){
						.section6-in-cap-box>ul{padding:20px 20px;}
					}
					@media all and (max-width:1060px){
						.section6-in-cap-box>ul{padding:20px 100px;}
					}
					@media all and (max-width:800px){
						.section6-in-cap-box>ul{padding:20px 60px;}
					}
					@media all and (max-width:550px){
						.section6-in-cap-box>ul{padding:20px 20px;}
					}
					@media all and (max-width:500px){
						.section6-in-cap-box>ul{padding:20px 15px;}
					}
					
					.section6-in-cap-box>ul>li{border-bottom:1px solid #ddd;}
					.section6-in-cap-box>ul>li:last-child{border-bottom:0;}
					
						.section6-in-content-wrap{padding:23px 15px;}
						@media all and (max-width:1350px){
							.section6-in-content-wrap{padding:20px 10px;}
						}
						@media all and (max-width:1200px){
							.section6-in-content-wrap{padding:8px 8px;}
						}
						@media all and (max-width:1060px){
							.section6-in-content-wrap{padding:23px 15px;}
						}
						@media all and (max-width:500px){
							.section6-in-content-wrap{padding:22px 15px;}
						}

						
						
						.section6-in-content-wrap>li{float:left;}
						.section6-in-content-wrap>li:nth-child(1){width:20%;margin-right:20px;}
						.section6-in-content-wrap>li:nth-child(1)>p{width:100%;height:auto;}
						.section6-in-content-wrap>li:nth-child(1)>p>img{width:100%;max-width:74px;height:auto;border-radius:50%;}
						
						.section6-in-content-wrap>li:nth-child(2){width:70%;line-height:150%;}
						.section6-in-content-wrap>li:nth-child(2)>h4{font-family:arial;padding-top:5px;font-size:13px;font-weight:600;color:#614c45;}
						.section6-in-content-wrap>li:nth-child(2)>p{font-size:13px;color:#626262;}
						.section6-in-content-wrap>li:nth-child(2)>p>br{display:block;}
						@media all and (max-width:1800px){
							.section6-in-content-wrap>li:nth-child(2){line-height:120%;}
							.section6-in-content-wrap>li:nth-child(2)>p>br{display:none;}
						}




	#section7{width:100%;height:auto;background:url(../img/restaurant-img7.jpg);padding:130px 0;}
		.section7-wrap{width:100%;height:auto;}
			.section7-wrap-ul{}
			.section7-wrap-ul>li{}
			.section7-wrap-ul>li>h2{font-family:arial;text-align:center;padding-bottom:20px;font-size:28px;font-weight:700;color:#614c45;}
			.section7-wrap-ul>li>p{text-align:center;padding-bottom:90px;}
	
				.section7-content-wrap{}
				.section7-content-wrap>li{position:relative;float:left;width:25%;text-align:center;overflow:hidden;}
				@media all and (max-width:1170px){
					.section7-content-wrap>li{width:50%;}
				}
				@media all and (max-width:760px){
					.section7-content-wrap>li{width:100%;}
				}
				
				.section7-content-wrap>li>p{z-index:1;position:relative;}
				.section7-content-wrap>li>p>img{width:90%;transform:scale(1,1);transition:all 0.6s;}
				.section7-content-wrap>li>p>img.addClasS7{transform:scale(1.15,1.15);transition:all 0.6s;}
				
					.section7-white-cap{z-index:2;position:absolute;top:0;left:0;background:url(../img/restaurant-img7.jpg);width:100%;height:100%;opacity:0;}
					.section7-white-cap.addClasS7{opacity:.7;}
				
				
				
					/* 쉐프의 이력내용 박스 */	
					.section7-shef-content{z-index:2;position:absolute;opacity:0;bottom:-200px;transition:all 0.6s ease-in;left:50%;margin-left:-166.5px;width:333px;height:300px;background:#614c45;padding:40px;box-sizing:border-box;}
					.section7-shef-content.addClasS7{bottom:50px;opacity:1;transition:all 0.6s ease-out;}
					.section7-shef-content>li{width:auto;}
					.section7-shef-content>li:nth-child(1){padding-bottom:30px;}
					.section7-shef-content>li>h5{font-family:arial;width:30px;height:4px;background:#c8a64b;margin:0 auto;}
					.section7-shef-content>li>h3{font-size:20px;color:#c8a64b;font-weight:600;padding-bottom:10px;}
					.section7-shef-content>li>h4{font-size:11px;color:#ababab;padding-bottom:30px;}
					.section7-shef-content>li>p{font-size:14px;color:#ababab;line-height:150%;}
					
				
				
	
	#section8{width:100%;height:auto;background:url(../img/restaurant-img24.jpg) no-repeat center center fixed;background-size:cover;padding:130px 0;}
		.section8-wrap{width:100%;max-width:1140px;margin:0 auto;height:auto;}
			.section8-wrap-ul{width:100%;}
			.section8-wrap-ul>li{width:100%;}
			.section8-wrap-ul>li>h2{text-align:center;padding:0 30px 80px 30px;}
			.section8-wrap-ul>li>h2>img{width:100%;max-width:483px;}
	

			.section8-special-wrap{padding:0 50px;}	
			.section8-special-wrap>li{position:relative;float:left;width:33.333%;text-align:center;}
			@media all and (max-width:1000px){
				.section8-special-wrap>li{float:none;width:100%;}
			}	
				/* 접시요리 요리특징 */
				.section8-special-content-wrap{width:100%;}	
				.section8-special-content-wrap>li{}	
				.section8-special-content-wrap>li>p{padding-bottom:30px;}	
				.section8-special-content-wrap>li>p>img{width:75%;transform:scale(1,1);transition:all 0.5s;}	
				@media all and (max-width:1000px){
					.section8-special-content-wrap>li>p>img{width:50%;}
				}
				@media all and (max-width:800px){
					.section8-special-content-wrap>li>p>img{width:60%;}
				}
				@media all and (max-width:600px){
					.section8-special-content-wrap>li>p>img{width:70%;}
				}
				@media all and (max-width:500px){
					.section8-special-content-wrap>li>p>img{width:80%;}
				}
				@media all and (max-width:400px){
					.section8-special-content-wrap>li>p>img{width:100%;}
				}
				.section8-special-content-wrap>li>p>img.addAniS8{transform:scale(1.15,1.15);transition:all 0.5s;}	
				.section8-special-content-wrap>li>h3{font-size:18px;color:#fff;font-weight:600;padding-bottom:15px;}	
				.section8-special-content-wrap>li>h4{font-size:11px;color:#ababab;}	
				@media all and (max-width:1000px){
					.section8-special-content-wrap>li>h4{padding-bottom:70px;}
				}
		
		
					/* 동그라미 빨강 가격표 */
					.sec8RoundRed-wrap{position:absolute;top:0;left:50%;margin-left:15%;width:90px;height:90px;background:#dc3535;border-radius:50%;overflow:hidden;}
						.sec8RoundRed{padding-top:27px;}
						.sec8RoundRed>li{color:#fff;text-align:center;}
						.sec8RoundRed>li>p{font-size:11px;font-weight:600;padding-bottom:5px;}
						.sec8RoundRed>li>h5{font-size:18px;font-weight:600;}
	
	
	#section9{width:100%;height:auto;background:#fff;padding:130px 0 0 0;}
		.section9-wrap{width:100%;height:auto;}
			.section9-wrap-ul{width:100%;}
			.section9-wrap-ul>li{width:100%;}
			.section9-wrap-ul>li>h2{font-family:arial;text-align:center;padding-bottom:20px;font-size:28px;font-weight:700;color:#614c45;}
			.section9-wrap-ul>li>p{text-align:center;padding-bottom:90px;}
				
			/* Gallery Button Wrap */
			.section9-gallery-button-wrap{width:100%;max-width:550px;margin:0 auto;}
			.section9-gallery-button-wrap>li{float:left;margin:0 30px;}
			@media all and (max-width:800px){
				.section9-gallery-button-wrap>li{float:none;margin:0;padding:15px 0;text-align:center;}
			}
			.section9-gallery-button-wrap>li>a{position:relative;padding:5px 0;font-family:arial;font-size:13px;font-weight:600;color:#aaa;}
			.section9-gallery-button-wrap>li>a>i{position:absolute;bottom:0;left:0;display:block;width:100%;height:1px;border-bottom:2px solid #d8b75f;transform:scale(0,1);transition:all 0.6s;}
			.section9-gallery-button-wrap>li>a:hover>i{transition:all 0.6s;transform:scale(1,1);}
			.section9-gallery-button-wrap>li>a>i.addAnis9{transition:all 0.6s;transform:scale(1,1);}


			/* Gallery Image Wrap */
			.section9-gallery-img-wrap{position:relative;margin-top:60px;}
			.section9-gallery-img-wrap>li{position:absolute;transform:scale(0,0);transition:all 0.5s ease-out;overflow:hidden;}
			.section9-gallery-img-wrap>li.addAnis9{transform:scale(1,1);transition:all 0.5s ease-out;}
			
			.section9-gallery-img-wrap>li>p{width:100%;transition:all 0.6s ease-in;margin-top:0;}
			.section9-gallery-img-wrap>li>p.addAnis9{transition:all 0.6s ease-in;margin-top:-97px;}
			.section9-gallery-img-wrap>li>p>a.galleryImageBt{display:block;cursor:url(../img/icon-zoom.png),auto;}
			.section9-gallery-img-wrap>li>p>a>img{width:100%;height:auto;opacity:1;transition:all 0.3s;}
			.section9-gallery-img-wrap>li>p>a>img:hover{opacity:0.5;transition:all 0.3s;}
			.section9-gallery-img-wrap>li>p>a.galleryTextBt{display:block;position:relative;text-align:center;background:#fff;padding:30px 0;font-family:arial;text-transform:uppercase}
			.section9-gallery-img-wrap>li>p>a>span{display:block;width:100%;font-size:16px;font-weight:600;padding-bottom:10px;}
			.section9-gallery-img-wrap>li>p>a>i{display:block;width:100%;font-size:11px;font-weight:400;color:#999;}


	#section10{width:100%;height:auto;background:url(../img/restaurant-img7.jpg);padding:130px 0;}
		.section10-wrap{position:relative;width:100%;max-width:975px;height:auto;margin:0 auto;overflow:visible;}
			
			.section10-slide-wrap{z-index:1;position:relative;height:auto;width:100%;overflow:hidden; cursor:url(../img/icon-move.png),auto;}
				.sec10Slide{position:absolute;top:0;width:100%;}
				.sec10Slide1{left:0%;position:relative;}
				.sec10Slide2{left:100%;}
				.sec10Slide3{left:-100%;}
		
			
			
			
			.sec10Slide-content-wrap{padding:0 150px;}
			.sec10Slide-content-wrap>li{position:relative;float:left;height:223px;}
				.sec10Slide-content-wrap>li:nth-child(1){position:relative;width:200px;margin:0 auto;}			
				@media all and (max-width:1000px){
					.sec10Slide-content-wrap{padding:0;}
					.sec10Slide-content-wrap>li{float:none;height:auto;}
					.sec10Slide-content-wrap>li:nth-child(1){position:relative;width:200px;margin:0 auto;}
				}
			.sec10Slide-content-wrap>li:nth-child(1)>p{width:200px;height:200px;margin:0 auto;}
			.sec10Slide-content-wrap>li:nth-child(1)>p>img{width:100%;height:100%;border-radius:50%;border:8px solid #fff;box-sizing:border-box;}
				.symbolQ{display:block;position:absolute;top:20%;left:50%;margin-left:45%;font-size:55px;color:#614c45;}
			
			.sec10Slide-content-wrap>li:nth-child(2){margin-left:15%;width:55%;}
				.sec10Slide-content-right-wrap{}
				.sec10Slide-content-right-wrap>li{padding-bottom:20px;}
				@media all and (max-width:1000px){
					.sec10Slide-content-wrap>li:nth-child(2){margin-left:0;width:100%;padding-top:30px;}
					.sec10Slide-content-right-wrap>li{text-align:center;}	
				}
				.sec10Slide-content-right-wrap>li>i{font-size:17px;color:#c8a64b;margin-right:10px;}
				.sec10Slide-content-right-wrap>li>h2{font-size:18px;color:#828282;text-transform:uppercase;font-weight:600;}
				.sec10Slide-content-right-wrap>li:nth-child(3)>p{font-size:13px;color:#828282;line-height:180%;}
				.sec10Slide-content-right-wrap>li:nth-child(4)>p{width:30px;height:4px;background:#c8a64b;}
				@media all and (max-width:1000px){
					.sec10Slide-content-right-wrap>li:nth-child(3)>p{padding:0 10%;}
					.sec10Slide-content-right-wrap>li:nth-child(4)>p{margin:0 auto;}
				}
				
			a.arrowLeftBt{z-index:2;position:absolute;left:0;top:50%;margin-top:-15px;font-size:30px;color:#000;}
			a.arrowRightBt{z-index:2;position:absolute;right:0;top:50%;margin-top:-15px;font-size:30px;color:#000;}
				
				
	#section11{position:relative;width:100%;height:auto;background:url(../img/slider-img6.jpg)  no-repeat center center fixed;background-size:cover;padding:130px 0;}
		.section11-bg-black-cap{z-index:0;position:absolute;top:0;left:0;width:100%;height:100%;background:#252525;opacity:0.9;}
		.section11-wrap{z-index:1;position:relative;width:100%;max-width:1170px;margin:0 auto;}	
			.section11-wrap-ul{width:100%;}
			.section11-wrap-ul>li{width:100%;}
			.section11-wrap-ul>li>h2{font-family:arial;text-align:center;padding-bottom:20px;font-size:28px;font-weight:700;color:#fff;}
			.section11-wrap-ul>li>p{text-align:center;padding-bottom:90px;}

			.section11-gallery-wrap{width:100%;}
			.section11-gallery-wrap>li{float:left;width:50%;}
			@media all and (max-width:1170px){
				.section11-gallery-wrap{width:100%;margin:0 auto;}
				.section11-gallery-wrap>li{width:100%;}
			}
			
			
			.section11-gallery-wrap>li>div{margin:15px;height:auto;}
				
				/* 박스 내용 2칸 */
				.section11-gallery-content-wrap{width:100%;}
				.section11-gallery-content-wrap>li{float:left;width:50%;height:277.5px;overflow:hidden;}
				@media all and (max-width:600px){
					.section11-gallery-content-wrap>li{width:100%;}
				}
				.section11-gallery-content-wrap>li:nth-child(1)>p{width:100%;overflow:hidden;}
				.section11-gallery-content-wrap>li:nth-child(1)>p>img{width:100%;height:auto;min-height:277.5px;transform:scale(1,1);transition:all 0.3s;}
				.section11-gallery-content-wrap:hover>li:nth-child(1)>p>img{transform:scale(1.1,1.1);transition:all 0.3s;}
				
				
				
				.section11-gallery-content-wrap>li:nth-child(2){background:#fff;position:relative;}
				.section11-gallery-content-wrap>li:nth-child(2):before{content:'';display:block;position:absolute;top:50%;margin-top:-15px;left:-30px;border:15px solid transparent;border-right:15px solid #fff;}
				
					.section11-gallery-content-right-wrap{padding:60px 0;}
					.section11-gallery-content-right-wrap>li{text-align:center;padding:10px 0;}
					.section11-gallery-content-right-wrap>li>h4{color:#828282;font-size:12px;}
					.section11-gallery-content-right-wrap>li>h3{color:#666;font-size:18px;font-weight:600;line-height:150%;}
					.secHBar{width:30px;height:4px;background:#c8a64b;margin:0 auto;}
					
					
					
	#section12{width:100%;height:auto;background:url(../img/restaurant-img40.jpg)  no-repeat center center;background-size:cover;padding:130px 0;}
		.section12-wrap{position:relative;width:100%;max-width:1140px;margin:0 auto;}
		.section12-content-wrap{z-index:2;position:relative;top:0;left:0;width:100%}
		.section12-content-wrap>li{font-family:arial;text-align:center;color:#c8a64b;}
		.section12-content-wrap>li>h2{font-weight:600;font-size:40px;padding-bottom:40px;}
		.section12-content-wrap>li>h3{font-size:20px;padding-bottom:20px;}
		.section12-content-wrap>li>p{font-size:40px;width:160px;margin:0 auto;}
		.section12-content-wrap>li>p>a{display:block;font-weight:600;letter-spacing:1px;text-transform:uppercase;font-size:14px;background:#000;border:2px solid #000;color:#fff;padding:12px 0;width:160px;text-align:center;transform:scale(1,1);transition:all 0.6s;}
		.section12-content-wrap>li>p>a:hover{background:transparent;color:#000;transition:all 0.3s;}
	@media all and (max-width:1140px){
		#section12{background-size:auto 100%;padding:110px 0;}	
		.section12-content-wrap>li>h2{font-size:35px;padding-bottom:30px;}
		.section12-content-wrap>li>h3{font-size:16px;padding-bottom:15px;}		
	}
	@media all and (max-width:800px){
		#section12{background-size:auto 100%;padding:80px 0;}	
		.section12-content-wrap>li>h2{font-size:30px;padding-bottom:25px;}
		.section12-content-wrap>li>h3{font-size:14px;padding-bottom:10px;}		
	}
	@media all and (max-width:500px){
		#section12{background-size:auto 100%;padding:60px 0;}	
		.section12-content-wrap>li>h2{font-size:25px;padding-bottom:20px;}
		.section12-content-wrap>li>h3{font-size:12px;padding-bottom:8px;}
		.section12-content-wrap>li>p>a{transform:scale(0.8,0.8);transition:all 0.6s;}
		
	}
	@media all and (max-width:400px){
		#section12{background-size:auto 100%;padding:50px 0;}	
		.section12-content-wrap>li>h2{font-size:20px;padding-bottom:15px;}
		.section12-content-wrap>li>h3{font-size:11px;padding-bottom:6px;}		
		.section12-content-wrap>li>p>a{transform:scale(0.7,0.7);transition:all 0.6s;}
		
	}


		
	#section13{width:100%;height:auto;background:#fff;padding:172px 0 130px 0;background:url(../img/restaurant-img7.jpg);}
		.section13-wrap{width:100%;max-width:1140px;margin:0 auto;}
			.section13-count-wrap{width:100%;}
			.section13-count-wrap>li{position:relative;float:left;width:25%;text-align:center;font-family:arial;}
			.section13-count-wrap>li>h4{color:#614c45;font-size:35px;font-weight:600;}
			.section13-count-wrap>li>h5{color:#626262;font-size:11px;font-weight:500;padding:15px 0;}
			.section13-count-wrap>li>p{}
			.section13-count-wrap>li>p>i{font-size:30px;color:#c8a64b;opacity:0.7;}
				.verticalBar{position:absolute;top:50%;margin-top:-35px;left:0;width:1px;background:#ccc;height:70px;}
	
			@media all and (max-width:1000px){
				#section13{padding:100px 0 100px 0;}
				.section13-count-wrap>li{width:50%;}
				.section13-count-wrap>li:nth-child(3)>p.verticalBar{display:none;}
			}
			@media all and (max-width:760px){
				#section13{padding:80px 0 80px 0;}
				.section13-count-wrap>li{width:100%;padding-bottom:60px;}
				.section13-count-wrap>li:last-child{padding-bottom:0;}
				.section13-count-wrap>li>p.verticalBar{display:none;}
			}
			@media all and (max-width:500px){
				#section13{padding:60px 0 60px 0;}
			}
	
	#section14{width:100%;height:auto;background:url(../img/restaurant-img7.jpg);padding:130px 0;border-top:1px solid #ddd;}
		.section14-wrap{width:100%;max-width:1140px;height:auto;margin:0 auto;}
			.section14-wrap-ul{width:auto;padding:0 20px;}
			.section14-wrap-ul>li{width:100%;}
			.section14-wrap-ul>li>h2{font-family:arial;text-align:center;padding-bottom:20px;font-size:28px;font-weight:700;color:#614c45;}
			.section14-wrap-ul>li>p{text-align:center;padding-bottom:90px;}

				.section14-content-wrap{}
				.section14-content-wrap>li{float:left;}
				.section14-content-wrap>li:first-child{width:42%;}
				.section14-content-left-wrap{width:100%;}				
				.section14-content-left-wrap>li{float:left;width:100%;}				
				@media all and (max-width:760px){
					#section14{padding:100px 0;}
					.section14-content-wrap>li:first-child{width:100%;}
					.section14-content-left-wrap>li{float:left;width:33.33333%;}	
				}	
				@media all and (max-width:660px){
					#section14{padding:80px 0;}					
					.section14-content-left-wrap>li{float:left;width:100%;text-align:center;}	
				}	
				
					.section14-content-left-iconText-wrap{padding-bottom:60px;}
					.section14-content-left-iconText-wrap>li{float:left;font-family:arial;}
					.section14-content-left-iconText-wrap>li>i{font-size:40px;color:#c8a64b;}
					.section14-content-left-iconText-wrap>li>h3{font-size:15px;font-weight:600;color:#000;}
					.section14-content-left-iconText-wrap>li>h4{font-size:13px;color:#626262;}
					.section14-content-left-iconText-wrap>li>p{font-size:13px;color:#626262;}
					.section14-content-left-iconText-wrap>li:first-child{width:20%;}
					.section14-content-left-iconText-wrap>li:last-child{width:80%;line-height:180%;}
				
				.section14-content-wrap>li:last-child{width:58%;}
				@media all and (max-width:760px){
					.section14-content-left-iconText-wrap{padding-bottom:60px;margin-right:20px;}					
					.section14-content-left-iconText-wrap:last-child{margin-right:20px;}					
					.section14-content-wrap>li:last-child{width:100%;}
					.section14-content-left-iconText-wrap>li>i{font-size:30px;}
					.section14-content-left-iconText-wrap>li>h3{font-size:15px;letter-spacing:-1px;}
				}
				
				@media all and (max-width:660px){
					.section14-content-left-iconText-wrap>li:first-child{width:100%;padding-bottom:10px;}
					.section14-content-left-iconText-wrap>li:last-child{width:100%;}
				}
				
				
				.section14-content-right-wrap{width:100%;}
				.section14-content-right-wrap>li{padding-bottom:20px;}
				.section14-content-right-wrap>li div{width:100%;}
				.section14-content-right-wrap>li div input[type=text]{font-family:arial;display:block;border:1px solid #ddd;width:100%;padding:13px;height:50px;color:#888;box-sizing:border-box;}
				.section14-content-right-wrap>li div input:focus{outline:1px solid #222;}
				.section14-content-right-wrap>li div input#_name{}
				.section14-content-right-wrap>li div input#_email{}
				.section14-content-right-wrap>li div input[type=submit]{font-family:arial;cursor:pointer;width:90px;height:45px;color:#fff;border:2px solid #000;font-weight:600;background-color:#000;transition:all 0.3s;}
				.section14-content-right-wrap>li div input[type=submit]:hover{color:#000;background:transparent;transition:all 0.3s;border:2px solid #000;}
				.section14-content-right-wrap>li div select{font-family:arial;display:block;border:1px solid #ddd;width:100%;padding:13px;height:50px;color:#888;box-sizing:border-box;background:#fff url(../img/select-arrow.png) no-repeat 97% 50%;}
				.section14-content-right-wrap>li div select:focus{outline:1px solid #222;}
				.section14-content-right-wrap>li div textarea{font-family:arial;display:block;border:1px solid #ddd;width:100%;resize:none;padding:13px;min-height:100px;height:100px;color:#888;box-sizing:border-box;}
				.section14-content-right-wrap>li div textarea:focus{outline:1px solid #222;}
				.section14-content-right-wrap>li:last-child{padding-top:10px;}
					.ui-select span{display:none;}
					#_submit{cursor:pointer;width:auto;padding:0 25px;height:55px;background:#000;font-size:16px;color:#fff;font-weight:600;border:3px solid #000;transition:all 0.6s;}
					#_submit:hover{background:transparent;color:#000;transition:all 0.6s;}

#footer{z-index:1;position:relative;width:100%;height:auto;background:url(../img/restaurant-img41.jpg) no-repeat center center;background-size:cover;padding:80px 0 30px 0;}
	.footer-bg-black-cap{z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(50,50,50, .4);}
		.footer-wrap{z-index:2;position:relative;width:100%;max-width:1140px;margin:0 auto;}
		.footer-content-wrap{width:100%;}
		.footer-content-wrap>li{padding:10px 0;text-align:center;}
		.footer-content-wrap>li>h2{line-height:160%;color:#ababab;font-size:14px;font-weight:600;padding-bottom:20px;}
		.footer-content-wrap>li>a{display:inline-block;width:30px;padding:8px 0 7px 0;margin:0 3px;opacity:1;transition:all 0.6s;}
		.footer-content-wrap>li>a:hover{opacity:0.6;transition:all 0.6s;}
		.footer-content-wrap>li>a:nth-child(1){background:#3b5998;}
		.footer-content-wrap>li>a:nth-child(2){background:#00aced;}
		.footer-content-wrap>li>a:nth-child(3){background:#dd4b39;}
		.footer-content-wrap>li>a:nth-child(4){background:#ea4c89;}
		.footer-content-wrap>li>a:nth-child(5){background:#b00;}
		.footer-content-wrap>li>a:nth-child(6){background:#007bb6;}
		.footer-content-wrap>li>a>i{color:#ddd;font-size:15px;}
		.footer-content-wrap>li>p{color:#ababab;font-size:11px;}
		.footer-content-wrap>li>p.hLine{width:100%;height:1px;background:#fff;opacity:0.15;margin:50px 0 15px 0;}
		.footer-content-wrap>li>p>img{width:156px;}


/*레이어팝업(모달팝업창)*/
.modal{display:none;z-index:4;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0, 0.9);}	
.modalClose-wrap{position:absolute;top:0;right:0;width:50px;height:50px;text-align:center;}		
.modalClose-wrap>a{display:block;font-size:40px;padding:5px 0;background:#c33;color:#fff;transition:all 0.6s;}
.modalClose-wrap>a:hover{background:#f00;transition:all 0.6s;}
		
			.modal-image{text-align:center;position:absolute;top:50%;margin-top:-300px;left:50%;margin-left:-400px;width:100%;max-width:800px;height:auto;outline:6px solid rgba(255,255,255, .2);outline-offset:30px;}	
			.modal-image>img{width:100%;transition:all 0.6s;}
			@media all and (max-width:800px){
				.modal-image{margin-left:0;left:0;padding:0 10px;box-sizing:border-box;outline:0;}
				@media all and (orientation:landscape){
					.modal-image>img{width:60%;padding:0 20%;transition:all 0.6s;}
				}
			}
			
			.modalArrowLeft-wrap{position:absolute;top:50%;margin-top:-20px;left:2%;width:40px;height:40px;text-align:center;font-size:40px;}
			.modalArrowLeft-wrap>a{display:block;color:#fff;}
			.modalArrowRight-wrap{position:absolute;top:50%;margin-top:-20px;right:2%;width:40px;height:40px;text-align:center;font-size:40px;}
			.modalArrowRight-wrap>a{display:block;color:#fff;}
		
		
		
		
		
		
		